.form {
    background: #021747;
    
    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0 0 30px 0;
    }
    &__grid {
        display: grid;
        grid-gap: 20px;
    }
    &__field {
        padding: 12px;
        &--wide {
            padding: 12px 12px 32px 12px;
            margin-bottom: 30px;
        }
        &::placeholder {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #6A7798;
            opacity: 0.5;
        }
    }
    &__text {
        &--btn {
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__button {
        max-width: 377px;
        margin: 30px auto 0 auto;
    }
    &__submit{
        width:100%;
        background: #021747;
        border: 1px solid #FFFFFF;
        padding: 12px;
        outline: none;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    .df {
        display: flex;
        flex-direction: column;
    }
}
.df__items {
    display: flex;
    align-items: center;
}
.form__checkbox {
    display: none;
}
.form__label {
    padding-left: 20px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #6A7798;
    position: relative;
}
.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #021747;
    border:1px solid #FFFFFF;
    position: relative;
    flex-shrink: 0;
}
.form__checkbox:checked + .circle::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    left:4px;
    top:4px;
}
.main_link {
    display: flex;
    justify-content: space-between;
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        color: #021747;
        margin: 0 0 15px 0;
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #6A7798;
        margin: 0;
    }
    &__img {
        margin-top:auto;
    }
}
@media screen and (min-width:320px) {
    .form {
        margin: 0 16px;
        padding: 30px 16px 24px 16px;
        &__grid {
            grid-template-columns: repeat(1,100%)
        }
        &__field{
            &--wide {
                grid-column: unset;
            }
        }
    }
    .main_link {
        flex-wrap: wrap;
        margin: 30px 0 56px 0;
        &__items {
            padding: 16px;
            &--wide {
                flex-basis: 100%;
            }
            &--narrow {
                flex-basis: 100%;
            }
        }
    }   

}
@media screen and (min-width:768px) {
    .form {
        margin: 0 24px;
        padding: 65px 24px 30px 24px;
        &__grid {
            grid-template-columns: repeat(2,48%)
        }
        &__field{
            &--wide {
                grid-column: 1/3;
            }
        }
    }
    .main_link {
        flex-wrap: nowrap;
        margin: 50px 0 69px 0;
        &__items {
            &--wide {
                flex-basis: 55%;
            }
            &--narrow {
                flex-basis: 30%;
            }
        }
    }   
}
@media screen and (min-width:1024px) {
    .form {
        margin: 0;
        padding: 65px 80px 30px 80px;
    }
    .main_link {
        &__items {
            padding: 0;
        }
    }   
}
@media screen and (min-width:1140px) {
    .form {
        padding: 65px 51px 30px 51px;
    }
}
